<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<div layout:fragment="main_section">
    <h1 class="card-text">FAVOURITE ANIMES</h1>
    <div class="card-deck">

        <div class="container d-flex flex-row flex-wrap  ">
        <th:block th:each="anime: ${fav}">
        <div class="card item  m-2 w-25">
            <card class="card-header">
            <img class="img-fluid" th:src="${anime.image_url}" alt="Card">
            </card>
            <div class="card-body">
                <h5 class="card-title w-75" th:text="${anime.title}"></h5>
                <hr>
                <h5>Genres</h5>
                <th:block th:class="card-text" th:each="user : ${anime.genres}">
                    <tr>
                        <td   th:class="card-text" th:text="${user.name}">...</td>
                    </tr>
                </th:block>
            </div>

            <div class="card-footer">
            <form th:action="@{/fav-anime-del}" method="post">
                <input type="hidden" id="mal_id" name="mal_id" th:value="${anime.mal_id}"/>
                <button name="btn btn-primary">Удалить из избранных</button>
            </form>
                <br>
                <a class="btn btn-primary" th:href="@{/{id}(id=${anime.mal_id})}" >Details</a>
            </div>
        </div>
        </th:block>
    </div>
    </div>
</div>
</html>